/**************/
/*** LAYOUT ***/
/**************/

/* Feed container */
#sb_instagram {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#sb_instagram:after{
    content: "";
    display: table;
    clear: both;
}

/*********************/
/*** STYLE OPTIONS ***/
/*********************/
#sb_instagram.sbi_fixed_height{
    overflow: hidden;
    overflow-y: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#sb_instagram #sbi_images{
    width: 100%;
    float: left;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Items */
#sb_instagram #sbi_images .sbi_item{
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;

    padding: inherit !important;
    margin: 0 !important;
    text-decoration: none;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Cols */
#sb_instagram.sbi_col_1 #sbi_images .sbi_item{ width: 100%; }
#sb_instagram.sbi_col_2 #sbi_images .sbi_item{ width: 50%; }
#sb_instagram.sbi_col_3 #sbi_images .sbi_item{ width: 33.33%; }
#sb_instagram.sbi_col_4 #sbi_images .sbi_item{ width: 25%; }
#sb_instagram.sbi_col_5 #sbi_images .sbi_item{ width: 20%; }
#sb_instagram.sbi_col_6 #sbi_images .sbi_item{ width: 16.66%; }
#sb_instagram.sbi_col_7 #sbi_images .sbi_item{ width: 14.28%; }
#sb_instagram.sbi_col_8 #sbi_images .sbi_item{ width: 12.5%; }
#sb_instagram.sbi_col_9 #sbi_images .sbi_item{ width: 11.11%; }
#sb_instagram.sbi_col_10 #sbi_images .sbi_item{ width: 10%; }

/* Disable mobile layout */
#sb_instagram.sbi_col_1.sbi_disable_mobile #sbi_images .sbi_item{ width: 100%; }
#sb_instagram.sbi_col_2.sbi_disable_mobile #sbi_images .sbi_item{ width: 50%; }
#sb_instagram.sbi_col_3.sbi_disable_mobile #sbi_images .sbi_item{ width: 33.33%; }
#sb_instagram.sbi_col_4.sbi_disable_mobile #sbi_images .sbi_item{ width: 25%; }
#sb_instagram.sbi_col_5.sbi_disable_mobile #sbi_images .sbi_item{ width: 20%; }
#sb_instagram.sbi_col_6.sbi_disable_mobile #sbi_images .sbi_item{ width: 16.66%; }
#sb_instagram.sbi_col_7.sbi_disable_mobile #sbi_images .sbi_item{ width: 14.28%; }
#sb_instagram.sbi_col_8.sbi_disable_mobile #sbi_images .sbi_item{ width: 12.5%; }
#sb_instagram.sbi_col_9.sbi_disable_mobile #sbi_images .sbi_item{ width: 11.11%; }
#sb_instagram.sbi_col_10.sbi_disable_mobile #sbi_images .sbi_item{ width: 10%; }

/* Hover effects */
/* Zoom */
#sb_instagram .sbi_zoom .sbi_photo{
    overflow: hidden;
}
#sb_instagram .sbi_zoom .sbi_photo img {
    -webkit-transition: all 0.5s ease; /* Safari and Chrome */
    -moz-transition: all 0.5s ease; /* Firefox */
    -o-transition: all 0.5s ease; /* IE 9 */
    -ms-transition: all 0.5s ease; /* Opera */
    transition: all 0.5s ease;
    max-width: 100%;
}
#sb_instagram .sbi_zoom.sbi_animate img {
    -webkit-transform:scale(1.2); /* Safari and Chrome */
    -moz-transform:scale(1.2); /* Firefox */
    -ms-transform:scale(1.2); /* IE 9 */
    -o-transform:scale(1.2); /* Opera */
    transform:scale(1.2);
}
#sb_instagram .sbi_zoom .sbi_link{
    background: none;
}
#sb_instagram .sbi_zoom .sbi_link .sbi_lightbox_link{
    display: none;
}

/* Slide */
#sb_instagram .sbi_slide .sbi_photo{
    overflow: hidden;
    background: #333;
}
#sb_instagram .sbi_slide .sbi_photo img {
    position:relative;
    left:0;
    bottom:0;
    cursor:pointer;
    margin:-12px 0;
    -webkit-transition:bottom .3s ease-in-out;
    -moz-transition:bottom .3s ease-in-out;
    -o-transition:bottom .3s ease-in-out;
    transition:bottom .3s ease-in-out
}
#sb_instagram #sbi_images .sbi_slide.sbi_animate img {
    bottom: -50px;
    /*padding-top: 100px;*/
}

/* Flip */
#sb_instagram .sbi_flip .sbi_photo{
    overflow: hidden;
    background: none;
}
#sb_instagram .sbi_flip .sbi_photo img {
    position:relative;
    backface-visibility:hidden;
    -webkit-transition:all 1s;
    -moz-transition:all 1s;
    transition:all 1s;
    z-index: 10;
}
#sb_instagram .sbi_flip .sbi_link{
    display:block;
    position:absolute;
    z-index:5;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.85);
    text-align:center;
    backface-visibility:hidden;
    -webkit-transform:rotateY(-180deg);
    -moz-transform:rotateY(-180deg);
    transform:rotateY(-180deg);
    -webkit-transition:all 1s;
    -moz-transition:all 1s;
    transition:all 1s;
}
#sb_instagram .sbi_flip.sbi_animate img {
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
    transform:rotateY(180deg);
    -webkit-transition:all .4s;
    -moz-transition:all .4s;
    transition:all .4s;
}
#sb_instagram .sbi_flip.sbi_animate .sbi_link{
    -webkit-transform:rotateY(0);
    -moz-transform:rotateY(0);
    transform:rotateY(0);
    -webkit-transition:all .4s;
    -moz-transition:all .4s;
    transition:all .4s;
}

/* Photos */
#sb_instagram .sbi_photo_wrap{
    position: relative;
    overflow: hidden;
}
#sb_instagram .sbi_photo{
    display: block;
    text-decoration: none;
}
#sb_instagram .sbi_photo img{
    width: 100%;
    height: auto;
}
#sb_instagram #sbi_images img{
    display: block;
    padding: 0 !important;
    margin: 0 !important;
    max-width: 100% !important;
    opacity: 1 !important;
    font-size: 10px !important;
    line-height: 0.9;
    color: #999;
}
#sb_instagram .sbi_link.sbi_disable_lightbox {
    display: none !important;
}
#sb_instagram .sbi_link{
    display: none;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 100%;
    padding: 0;
    background: #333;
    background: rgba(0,0,0,0.8);
    text-align: center;
    color: #fff;
    font-size: 12px;
    line-height: 1.1;
    overflow: hidden;
}
#sb_instagram .sbi_link .sbi_username a,
#sb_instagram .sbi_link .sbi_instagram_link,
#sb_instagram .sbi_link .sbi_hover_bottom,
#sb_instagram .sbi_link .sbi_playbtn,
#sb_instagram .sbi_link .sbi_lightbox_link{
    filter: alpha(opacity=80);
    opacity: 0.8;
}
#sb_instagram .sbi_link .sbi_username a:hover,
#sb_instagram .sbi_link .sbi_instagram_link:hover,
#sb_instagram .sbi_link .sbi_playbtn:hover,
#sb_instagram .sbi_link .sbi_lightbox_link:hover{
    filter: alpha(opacity=100);
    opacity: 1;
}
#sb_instagram .sbi_link_area{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

#sb_instagram .sbi_link a{
    padding: 0;
    text-decoration: none;
    color: #ddd;
    color: rgba(255,255,255,0.7);
    line-height: 1.1;
    background: none;

    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
}
#sb_instagram .sbi_link a:hover,
#sb_instagram .sbi_link a:active{
    color: #fff;
}

#sb_instagram .sbi_link .sbi_lightbox_link{
    display: block;
    /*display: none;*/
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;

    margin-top: -24px;
    margin-left: -21px;
    padding: 0;
    font-size: 49px;
    font-style: normal !important;
}
#sb_instagram .sbi_type_video .sbi_lightbox_link{
    display: none;
}

#sb_instagram .sbi_link .sbi_instagram_link{
    /*float: right;*/
    font-size: 30px;
    position: absolute;
    z-index: 100;
    bottom: 0;
    right: 2px;
    padding: 8px;
}
#sb_instagram .sbi_link a:hover,
#sb_instagram .sbi_link a:focus{
    text-decoration: underline;
}

/* Date */
#sb_instagram .sbi_hover_top,
#sb_instagram .sbi_hover_bottom{
    position: absolute;
    width: 98%;
    text-align: center;
    padding: 1% !important;
    margin: 0 !important;
    font-size: 12px;
    color: #ddd;
    color: rgba(255,255,255,0.8);
}
#sb_instagram .sbi_username{
    top: 0;
    margin: 0;
}
#sb_instagram .sbi_username a{
    padding: 10px 10px 0 10px;
    position: relative;
    z-index: 2;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}
#sb_instagram .sbi_link .sbi_caption{
    line-height: 1;
    padding-top: 10px;
}
#sb_instagram .sbi_hover_bottom{
    bottom: 10px;
    line-height: 1;
    z-index: 2;
}
#sb_instagram .sbi_hover_bottom p{
    margin: 0;
    padding: 0;
}
#sb_instagram .sbi_date,
#sb_instagram .sbi_location{
    padding: 0 5px;
    margin: 3px 0;
    display: inline-block;
}
#sb_instagram .sbi_hover_bottom .fa{
    margin: 0 5px 0 0;
}
#sb_instagram .sbi_hover_bottom .sbi_location{
    line-height: 1;
    width: 100%;
    padding: 0 38px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#sb_instagram .sbi_hover_bottom .sbi_meta{
    padding: 5px 0 0 0;
}

/* Medium */
#sb_instagram.sbi_medium .sbi_username a{
    font-size: 11px;
}
#sb_instagram.sbi_medium .sbi_lightbox_link,
#sb_instagram.sbi_medium .sbi_instagram_link,
#sb_instagram.sbi_medium .sbi_playbtn{
    font-size: 23px;
    margin-top: -12px;
    margin-left: -10px;
}
#sb_instagram.sbi_medium .sbi_instagram_link{
    margin: 0;
    padding: 6px;
}
#sb_instagram.sbi_medium .sbi_hover_bottom{
    bottom: 7px;
    font-size: 11px;
}
#sb_instagram.sbi_medium .sbi_playbtn{
    margin-left: -9px;
}
#sb_instagram.sbi_medium .sbi_hover_bottom .sbi_location{
    padding: 0 30px;
}

/* Small */
#sb_instagram.sbi_small .sbi_username a{
    padding: 3px 2px;
    font-size: 10px;
    line-height: 1;
}
#sb_instagram.sbi_small .sbi_lightbox_link,
#sb_instagram.sbi_small .sbi_instagram_link,
#sb_instagram.sbi_small .sbi_playbtn{
    font-size: 18px;
    margin-top: -9px;
    margin-left: -7px;
}
#sb_instagram.sbi_small .sbi_instagram_link{
    margin: 0;
    padding: 4px 3px;
    font-size: 14px;
}
#sb_instagram.sbi_small .sbi_hover_bottom{
    bottom: 3px;
    font-size: 10px;
}
#sb_instagram.sbi_small .sbi_hover_bottom .sbi_location{
    padding: 0 18px;
}

/* Post info */
#sb_instagram .sbi_info{
    width: 100%;
    float: left;
    clear: both;
    text-decoration: none;
    color: #666;
    text-align: center;
}
#sb_instagram .sbi_info p{
    width: 100%;
    clear: both;
    padding: 5px 5px 2px 5px !important;
    margin: 0 !important;
    line-height: 1.2;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#sb_instagram .sbi_expand{
    display: none;
}

/* Caption */
#sb_instagram .sbi_caption{
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

/* Meta */
#sb_instagram .sbi_meta{
    line-height: 1.1;
    padding: 4px 0 8px 0;
}
#sb_instagram .sbi_meta span{
    margin: 0 5px !important;
    font-size: 11px;
}
#sb_instagram .sbi_meta i{
    margin-right: 5px !important;
    font-size: 13px;
}


/* VIDEO */
.sbi_video{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}
.sbi_video_lightbox .sbi_video{
    display: block;
}
/*
#sbi_lightbox.sbi_video_lightbox .sbi_lb-image{
  display: none !important;
  /* Show photo in IE7 as doesn't support video *//*
  *display: block !important;
}
*/
/* Video play button */
.sbi_playbtn{
    display: none !important;
}
#sb_instagram .sbi_type_video .sbi_playbtn,
#sb_instagram .sbi_type_carousel .sbi_carousel_icon{
    display: block !important;
    position: absolute;
    z-index: 0;

    color: #fff;
    color: rgba(255,255,255,0.9);
    font-style: normal !important;
    text-shadow: 0 0 8px rgba(0,0,0,0.8);
}
#sb_instagram .sbi_type_video .sbi_playbtn {
    top: 50%;
    left: 50%;

    margin-top: -24px;
    margin-left: -19px;
    padding: 0;
    font-size: 48px;
}
#sb_instagram .sbi_type_carousel .sbi_carousel_icon{
    right: 12px;
    top: 12px;
    font-size: 24px;
}
#sb_instagram.sbi_medium .sbi_type_carousel .sbi_carousel_icon{
    right: 8px;
    top: 8px;
    font-size: 16px;
}
#sb_instagram.sbi_small .sbi_type_carousel .sbi_carousel_icon{
    right: 5px;
    top: 5px;
    font-size: 12px;
}

/* Don't apply text shadow to play button on hover link */
#sb_instagram .sbi_type_video .sbi_link .sbi_playbtn{
    text-shadow: none;
}



/* Media queries */
@media all and (max-width: 640px){
    /* Make 3-6 cols into 2 col */
    #sb_instagram.sbi_col_3 #sbi_images .sbi_item,
    #sb_instagram.sbi_col_4 #sbi_images .sbi_item,
    #sb_instagram.sbi_col_5 #sbi_images .sbi_item,
    #sb_instagram.sbi_col_6 #sbi_images .sbi_item{
        width: 50%;
    }
    /* Make 7-10 cols into 4 col */
    #sb_instagram.sbi_col_7 #sbi_images .sbi_item,
    #sb_instagram.sbi_col_8 #sbi_images .sbi_item,
    #sb_instagram.sbi_col_9 #sbi_images .sbi_item,
    #sb_instagram.sbi_col_10 #sbi_images .sbi_item{
        width: 25%;
    }
    /* On mobile make the min-width 100% */
    #sb_instagram.sbi_width_resp{
        width: 100% !important;
    }
}
@media all and (max-width: 480px){
    /* Make all cols into 1 col */
    #sb_instagram.sbi_col_3 #sbi_images .sbi_item,
    #sb_instagram.sbi_col_4 #sbi_images .sbi_item,
    #sb_instagram.sbi_col_5 #sbi_images .sbi_item,
    #sb_instagram.sbi_col_6 #sbi_images .sbi_item,
    #sb_instagram.sbi_col_7 #sbi_images .sbi_item,
    #sb_instagram.sbi_col_8 #sbi_images .sbi_item,
    #sb_instagram.sbi_col_9 #sbi_images .sbi_item,
    #sb_instagram.sbi_col_10 #sbi_images .sbi_item{
        width: 100%;
    }
}


/* Lightbox */
.sbi_lightboxOverlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: black;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: 0.9;
    display: none;
}
.sbi_lightbox {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 10000;
    text-align: center;
    line-height: 0;
    font-weight: normal;
}
.sbi_lightbox .sbi_lb-image {
    display: block;
    height: auto;
    max-width: inherit;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}
.sbi_lightbox a:hover,
.sbi_lightbox a:focus,
.sbi_lightbox a:active{
    outline: none;
}
.sbi_lightbox a img {
    border: none;
}
.sbi_lb-outerContainer {
    position: relative;
    background-color: #000;
    *zoom: 1;
    width: 250px;
    height: 250px;
    margin: 0 auto 5px auto;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}
.sbi_lb-outerContainer:after {
    content: "";
    display: table;
    clear: both;
}
.sbi_lb-container-wrapper{
    height: 100%;
}
.sbi_lb-container {
    position: relative;
    padding: 4px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    right: 0;
}
.sbi_lb-loader {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    height: 20px;
    margin-top: -10px;
    text-align: center;
    line-height: 0;
}
.sbi_lb-loader span {
    display: block;
    width: 14px;
    height: 14px;
    margin: 0 auto;
}
.sbi_lb-nav {
    /*position: absolute;*/
    top: 0;
    left: 0;
    /*height: 100%;*/
    width: 100%;
    z-index: 10;
    /*pointer-events: none;*/
}
.sbi_lb-container > .nav {
    left: 0;
}
.sbi_lb-nav a {
    position: absolute;
    z-index: 100;
    top: 0;
    height: 90%;
    outline: none;
    background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
}
/* Lightbox Carousel */
#sbi_lightbox .sbi_owl-theme .sbi_owl-controls .sbi_owl-buttons div {padding: 5px 7px;}
#sbi_lightbox .sbi_owl-theme .sbi_owl-controls { padding-top: 10px; margin-top: 0px;}

#sbi_lightbox .sbi_owl-pagination{
    top: -45px;
    position: relative;
    width: auto;
    display: inline-block;
    background: rgba(0,0,0,0.1);
    border-radius: 30px;
    padding: 3px 5px;
}
#sbi_lightbox .sbi_owl-theme .sbi_owl-controls .sbi_owl-page span{
    opacity: 0.5;
    background: #fff;
    background: rgba(255,255,255,0.9);
}
#sbi_lightbox .sbi_lb-nav a{
    height: 100%;
}
#sbi_lightbox .sbi_owl-theme .sbi_owl-controls .sbi_owl-buttons div{
    left: 8px;
    right: auto;
}
#sbi_lightbox .sbi_owl-theme .sbi_owl-controls .sbi_owl-buttons .sbi_owl-next{
    left: auto;
    right: 8px;
}
#sbi_lightbox .sbi_lb-nav span{
    top: 50%;
    margin: -23px 0 0 0;
    opacity: 0.6;
}
#sbi_lightbox .sbi_lb-nav a:hover span {
    opacity: 1;
}
#sbi_lightbox .sbi_owl-prev .fa,
#sbi_lightbox .sbi_owl-prev svg{
    position: relative;
    left: -1px;
}
#sbi_lightbox .sbi_owl-next .fa,
#sbi_lightbox .sbi_owl-next svg{
    position: relative;
    right: -1px;
}
#sbi_lightbox .sbi_owl-theme .sbi_owl-controls{
    height: 0;
}
#sbi_lightbox .fa-clone {
    position: absolute;
    right: 12px;
    top: 12px;
    color: #fff;
    opacity: 1;
    z-index: 1;
}

/* Arrows */
.sbi_lb-prev, .sbi_lb-next {
    height: 100%;
    cursor: pointer;
    display: block;
}

.sbi_lb-nav a.sbi_lb-prev {
    /*width: 30%;*/
    width: 50px;
    left: -70px;
    padding-left: 10px;
    padding-right: 10px;
    float: left;

    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0.5);
    opacity: 0.5;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s;

}

.sbi_lb-nav a.sbi_lb-prev:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}

.sbi_lb-nav a.sbi_lb-next {
    /*width: 30%;*/
    width: 50px;
    right: -70px;
    padding-left: 10px;
    padding-right: 10px;
    float: right;

    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0.5);
    opacity: 0.5;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s;

}

.sbi_lb-nav a.sbi_lb-next:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}
.sbi_lb-nav span{
    display: block;
    top: 55%;
    position: absolute;
    left: 20px;
    width: 34px;
    height: 45px;
    margin: -25px 0 0 0;
}
.sbi_lb-nav a.sbi_lb-prev span{
    background-position: -53px 0;
}
.sbi_lb-nav a.sbi_lb-next span{
    left: auto;
    right: 20px;
    background-position: -18px 0;
}

.sbi_lb-dataContainer {
    margin: 0 auto;
    padding-top: 10px;
    *zoom: 1;
    width: 100%;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;

    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.sbi_lightbox.sbi_lb-comments-enabled .sbi_lb-outerContainer{
    position: relative;
    padding-right: 300px;
    background: #fff;

    -webkit-box-sizing: unset;
    -moz-box-sizing: unset;
    box-sizing: unset;
}
.sbi_lightbox.sbi_lb-comments-enabled .sbi_lb-container-wrapper {
    position: relative;
    background: #000;
}
.sbi_lightbox.sbi_lb-comments-enabled .sbi_lb-dataContainer {
    width: 300px !important;
    position: absolute;
    top: 0;
    right: -300px;
    height: 100%;
    bottom: 0;
    background: #fff;
    line-height: 1.4;
    overflow: hidden;
    overflow-y: auto;
    text-align: left;
}
.sbi_lb-dataContainer:after,
.sbi_lb-data:after,
.sbi_lb-commentBox:after {
    content: "";
    display: table;
    clear: both;
}
.sbi_lightbox.sbi_lb-comments-enabled .sbi_lb-commentBox{
    display: block !important;
    width: 100%;
    margin-top: 20px;
    padding: 4px;
}
#sbi_lightbox.sbi_lb-comments-enabled #sbi_mod_link {
    padding-left: 0;
    border-left: 0;
    margin-left: 0;
}
#sbi_lightbox.sbi_lb-comments-enabled .sbi_lb-number {
    padding-bottom: 0;
}
#sbi_lightbox.sbi_lb-comments-enabled .sbi_lb-caption {
    margin-bottom: 20px;
}
.sbi_lightbox.sbi_lb-comments-enabled .sbi_lb-comment{
    display: block !important;
    width: 100%;
    min-width: 100%;
    float: left;
    clear: both;
    font-size: 12px;
    padding: 3px 20px 3px 0;
    margin: 0 0 1px 0;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.sbi_lightbox.sbi_lb-comments-enabled .sbi_lb-commenter {
    font-weight: 700;
    margin-right: 5px;
}
.sbi_lightbox.sbi_lb-comments-enabled .sbi_lb-commentBox p{
    text-align: left;
}
.sbi_lightbox.sbi_lb-comments-enabled .sbi_lb-dataContainer{
    box-sizing: border-box;
    padding: 15px 20px;
}
.sbi_lb-data {
    padding: 0 4px;
    color: #ccc;
}
.sbi_lb-data .sbi_lb-details {
    width: 85%;
    float: left;
    text-align: left;
    line-height: 1.1;
}
.sbi_lb-data .sbi_lb-caption {
    float: left;
    font-size: 13px;
    font-weight: normal;
    line-height: 1.3;
    padding-bottom: 3px;
    color: #ccc;

    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}
.sbi_lb-data .sbi_lb-caption a{
    color: #ccc;
    font-weight: bold;
    text-decoration: none;
}
.sbi_lb-data .sbi_lb-caption a:hover,
.sbi_lb-commenter:hover{
    color: #fff;
    text-decoration: underline;
}
.sbi_lb-data .sbi_lb-caption .sbi_lightbox_username{
    float: left;
    width: 100%;
    color: #ccc;
    padding-bottom: 0;
    display: block;
    margin: 0 0 5px 0;
}
.sbi_lb-data .sbi_lb-caption .sbi_lightbox_username:hover p{
    color: #fff;
    text-decoration: underline;
}
.sbi_lightbox.sbi_lb-comments-enabled .sbi_lb-commenter {
    color: #333;
}
.sbi_lightbox.sbi_lb-comments-enabled .sbi_lb-data,
.sbi_lightbox.sbi_lb-comments-enabled .sbi_lb-data .sbi_lb-caption,
.sbi_lightbox.sbi_lb-comments-enabled .sbi_lb-data .sbi_lb-caption a,
.sbi_lightbox.sbi_lb-comments-enabled .sbi_lb-data .sbi_lb-caption a:hover,
.sbi_lightbox.sbi_lb-comments-enabled .sbi_lb-commenter:hover,
.sbi_lightbox.sbi_lb-comments-enabled .sbi_lightbox_username,
#sbi_lightbox.sbi_lightbox.sbi_lb-comments-enabled .sbi_lb-number,
#sbi_lightbox.sbi_lightbox.sbi_lb-comments-enabled .sbi_lightbox_action a,
#sbi_lightbox.sbi_lightbox.sbi_lb-comments-enabled .sbi_lightbox_action a:hover,
.sbi_lightbox.sbi_lb-comments-enabled .sbi_lb-data .sbi_lb-caption .sbi_lightbox_username:hover p,
.sbi_lightbox.sbi_lb-comments-enabled .sbi_lb-data .sbi_lb-caption .sbi_lightbox_username p{
    color: #333;
}
.sbi_lightbox .sbi_lightbox_username img {
    float: left;
    border: none;
    width: 32px;
    height: 32px;
    margin-right: 10px;
    background: #666;

    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    border-radius: 40px;
}
.sbi_lightbox_username p{
    float: left;
    margin: 0;
    padding: 0;
    color: #ccc;
    line-height: 32px;
    font-weight: bold;
    font-size: 13px;
}

.sbi_lb-data .sbi_lb-number {
    display: block;
    float: left;
    clear: both;
    padding: 5px 0 15px 0;
    font-size: 12px;
    color: #999999;
}
.sbi_lb-data .sbi_lb-close {
    display: block;
    float: right;
    width: 30px;
    height: 30px;
    font-size: 18px; /* Hides icon font X */
    color: #aaa;
    text-align: right;
    outline: none;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s;
}
.sbi_lb-data .sbi_lb-close:hover {
    cursor: pointer;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    color: #fff;
}

/* Lightbox video - must go after lighbox CSS */
/* Leave a gap at the bottom of the nav for video controls */
.sbi_lb-nav {
    height: auto;
}
/* Remove 4px padding from lightbox container so video lines up */
.sbi_lb-container{
    padding: 0;
}

/* Mod link to remove image */
#sbi_mod_link{
    display: none;
}
#sbi_mod_error{
    border: 1px solid #ddd;
    background: #eee;
    color: #333;
    margin: 0;
    padding: 10px 15px;
    font-size: 13px;

    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
#sbi_mod_error p{
    padding: 5px 0 !important;
    margin: 0 !important;
    line-height: 1.3 !important;
}
#sbi_mod_error ol,
#sbi_mod_error ul{
    padding: 5px 0 5px 20px !important;
    margin: 0 !important;
}
#sbi_mod_error li{
    padding: 1px 0 !important;
    margin: 0 !important;
}
#sbi_mod_error span{
    font-size: 12px;
}
/* Lightbox action links */
#sbi_lightbox .sbi_lightbox_action{
    float: left;
    /*clear: both;*/
    position: relative;
    padding: 0 0 0 10px;
    margin: 5px 0 0 10px;
    border-left: 1px solid #666;
    font-size: 12px;
}
#sbi_lightbox .sbi_lightbox_action a{
    display: block;
    float: left;
    color: #999;
    text-decoration: none;
}
#sbi_lightbox .sbi_lightbox_action a:hover,
#sbi_lightbox .sbi_lightbox_action a:focus{
    color: #fff;
}
.sbi_lightbox.sbi_lb-comments-enabled .sbi_lightbox_action a:hover,
.sbi_lightbox.sbi_lb-comments-enabled .sbi_lightbox_action a:focus {
    color: inherit;
}
#sbi_lightbox .sbi_lightbox_action .fa{
    margin-right: 5px;
}
#sbi_lightbox .sbi_lightbox_action.sbi_instagram .fa{
    font-size: 13px;
}
/* Lightbox tooltip */
#sbi_lightbox .sbi_lightbox_tooltip{
    display: none;
    position: absolute;
    width: 100px;
    bottom: 22px;
    left: 0;
    padding: 5px 10px;
    margin: 0;
    background: rgba(255,255,255,0.9);
    color: #222;
    font-size: 12px;
    line-height: 1.3;

    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;

    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.4);

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#sbi_lightbox .sbi_lightbox_tooltip .fa-play{
    position: absolute;
    font-size: 8px;
    bottom: -6px;
    left: 36px;
    color: rgba(255,255,255,0.9);
}
#sbi_lightbox .sbi_tooltip_social a .fa{
    font-size: 16px;
    margin: 0;
    padding: 5px;
}
#sbi_lightbox .sbi_tooltip_social a#sbi_facebook_icon .fa,
#sbi_lightbox .sbi_tooltip_social a#sbi_twitter_icon .fa,
#sbi_lightbox .sbi_tooltip_social a#sbi_pinterest_icon .fa{
    padding-top: 4px;
    font-size: 18px;
}

/* Hide photos tooltip */
#sbi_lightbox #sbi_mod_box{
    width: 280px;
    padding: 5px 10px 7px 10px;
}
/* Social icons tooltip */
#sbi_lightbox .sbi_tooltip_social{
    width: 169px;
    padding: 5px 5px 4px 5px;
}
#sbi_lightbox .sbi_tooltip_social a{
    color: #333;

    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
#sbi_lightbox .sbi_lightbox_action #sbi_facebook_icon:hover{ background: #3b5998; }
#sbi_lightbox .sbi_lightbox_action #sbi_twitter_icon:hover{ background: #00aced; }
#sbi_lightbox .sbi_lightbox_action #sbi_google_icon:hover{ background: #dd4b39; }
#sbi_lightbox .sbi_lightbox_action #sbi_linkedin_icon:hover{ background: #007bb6; }
#sbi_lightbox .sbi_lightbox_action #sbi_pinterest_icon:hover{ background: #cb2027; }
#sbi_lightbox .sbi_lightbox_action #sbi_email_icon:hover{ background: #333; }
/* begin small device comments CSS */
@media all and (max-width: 640px){
    .sbi_lightbox.sbi_lb-comments-enabled .sbi_lb-outerContainer {
        width: 100% !important;
        padding-right: 0!important;
        background: #000;
    }
    .sbi_lightbox.sbi_lb-comments-enabled .sbi_lb-dataContainer {
        box-sizing: border-box;
        width: 100% !important;
        position: relative;
        right: 0;
        height: 100%;
        line-height: 1.4;
        overflow: hidden;
        overflow-y: auto;
        text-align: left;
    }
    .sbi_lightbox .sbi_lb-image {
        padding: 0;
        margin: auto;
    }
    .sbi_lb-container-wrapper {
        margin: 0 10px;
    }
    #sbi_lightbox.sbi_lb-comments-enabled #sbi_mod_link.sbi_lightbox_action {
        padding: 0 0 0 10px;
        margin: 5px 0 0 10px;
        border-left: 1px solid #666;
    }
}
/* end small device comments CSS */

/* Loader */
#sb_instagram .sbi_loader{
    position: relative;
    left: 50%;
    width: 12px;
    height: 12px;
    margin: 10px 0 10px -8px;
    background-position: 0 -17px;
}

/* Lightbox sidebar/comments */
.sbi_lb-comments-enabled .sbi_lb-dataContainer{
    -moz-border-radius-bottom-left: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;

    -moz-border-radius-top-right: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
}
.sbi_lb-comments-enabled .sbi_lb-data .sbi_lb-details{
    width: 95%;
}
.sbi_lb-comments-enabled .sbi_lb-closeContainer{
    position: absolute;
    top: 0;
    right: 0;
}
.sbi_lb-comments-enabled .sbi_lb-closeContainer .sbi_lb-close{
    background: none;
    color: #333;
    width: auto;
    height: auto;
    padding: 8px 10px;
    font-size: 14px;
}
.sbi_lb-comments-enabled .sbi_lb-closeContainer .sbi_lb-close:hover{
    background: rgba(0,0,0,0.05);
    -moz-border-radius-bottom-left: 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
#sbi_lightbox.sbi_lightbox.sbi_lb-comments-enabled .sbi_tooltip_social a:hover,
#sbi_lightbox.sbi_lightbox.sbi_lb-comments-enabled .sbi_tooltip_social a:focus{
    color: #fff;
}

/* HEADER */
#sb_instagram .sb_instagram_header{
    float: left;
    clear: both;
    margin: 0;
    padding: 0;
    line-height: 1.2;
    width: 100%;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#sb_instagram .sb_instagram_header a{
    float: left;
    display: block;
    min-width: 100%\9;
}
/* Header profile pic */
#sb_instagram .sbi_header_img{
    float: left;
    position: relative;
    width: 50px;
    margin: 0 0 0 -100% !important;
    overflow: hidden;

    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    border-radius: 40px;
}
#sb_instagram .sbi_header_img img{
    float: left;
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
}
/* Profile pic hover */
#sb_instagram .sbi_header_img_hover,
#sb_instagram .sbi_header_hashtag_icon{
    display: none;
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    color: #fff;
    background: rgba(0,0,0,0.75);
}
#sb_instagram .sbi_header_img_hover .sbi_new_logo,
#sb_instagram .sbi_header_hashtag_icon .sbi_new_logo{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -12px;
    margin-left: -12px;
    width: 24px;
    height: 24px;
    overflow: hidden;
    background-position: -90px 0;
}
/* Header text */
#sb_instagram .sbi_header_text{
    float: left;
    width: 100%;
    padding-top: 5px;
}
#sb_instagram .sb_instagram_header a{
    text-decoration: none;
}
#sb_instagram .sbi_header_text h3,
#sb_instagram .sbi_header_text p{
    float: left;
    clear: both;
    width: auto;
    margin: 0 0 0 60px !important;
    padding: 0 !important;
}
#sb_instagram .sbi_header_text .sbi_bio_info{
    padding: 0 !important;
}
#sb_instagram .sbi_bio_info span{
    padding-right: 10px;
}
#sb_instagram .sbi_bio_info .fa{
    padding-right: 3px;
}
/* Hashtag header */
#sb_instagram .sbi_header_type_generic .sbi_header_img{
    background: #333;
    color: #fff;
    width: 50px;
    height: 50px;
    position: relative;
}
#sb_instagram .sbi_header_type_generic .sbi_no_bio{
    padding-top: 9px !important;
}
#sb_instagram .sbi_header_type_generic .sbi_header_hashtag_icon{
    display: block;
    color: #fff;
    opacity: 0.9;

    -webkit-transition: background 0.6s linear, color 0.6s linear;
    -moz-transition: background 0.6s linear, color 0.6s linear;
    -ms-transition: background 0.6s linear, color 0.6s linear;
    -o-transition: background 0.6s linear, color 0.6s linear;
    transition: background 0.6s linear, color 0.6s linear;
}
#sb_instagram .sbi_header_type_generic:hover .sbi_header_hashtag_icon{
    display: block;
    opacity: 1;

    -webkit-transition: background 0.2s linear, color 0.2s linear;
    -moz-transition: background 0.2s linear, color 0.2s linear;
    -ms-transition: background 0.2s linear, color 0.2s linear;
    -o-transition: background 0.2s linear, color 0.2s linear;
    transition: background 0.2s linear, color 0.2s linear;
}


#sb_instagram .sb_instagram_header h3{
    font-size: 16px;
    line-height: 1.3;
    -ms-word-wrap: break-word;
    word-break: break-word;
}
#sb_instagram .sb_instagram_header p{
    font-size: 13px;
    line-height: 1.3;
}

/* No bio */
#sb_instagram .sbi_header_text.sbi_no_info h3{
    padding-top: 9px !important;
}
#sb_instagram .sbi_header_text.sbi_no_bio .sbi_bio_info{
    clear: both;
}

/* Header followers */
#sb_instagram .sbi_header_text .sbi_bio_info{
    float: left;
    clear: none;
    margin-top: 2px !important;
}
#sb_instagram .sbi_header_text h3{
    margin-right: -50px !important;
}

/* Header style boxed */
#sb_instagram .sbi_header_style_boxed .sbi_header_img{
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}
#sb_instagram .sbi_header_bar{
    width: 100%;
    float: left;
    clear: both;
    padding: 5px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#sb_instagram .sbi_header_style_boxed .sbi_bio_info{
    margin: 2px 5px;
    float: left;
    width: auto;
}
#sb_instagram .sbi_header_style_boxed .sbi_no_bio h3{
    margin-top: 9px !important;
}

#sb_instagram .sbi_header_style_boxed .sbi_bio{
    padding-bottom: 3px !important;
    margin-right: 5px !important;
}
#sb_instagram .sb_instagram_header.sbi_header_style_boxed .sbi_header_follow_btn{
    float: right;
    padding: 4px 12px;
    background: #517fa4;
    color: #fff;
    font-size: 12px;

    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
#sb_instagram .sbi_header_follow_btn:hover,
#sb_instagram .sbi_header_follow_btn:focus{
    filter: alpha(opacity=85);
    opacity: 0.85;
    outline: none;
}
#sb_instagram .sbi_header_follow_btn .fa{
    margin-right: 5px;
}
#sb_instagram .sbi_header_style_boxed .sbi_header_hashtag_icon{
    background: none;
}



/* Buttons */
#sb_instagram #sbi_load{
    float: left;
    clear: both;
    width: 100%;
    text-align: center;
}

#sb_instagram #sbi_load .sbi_load_btn,
#sb_instagram .sbi_follow_btn a,
#sb_instagram .sbi_moderation_link,
#sb_instagram .sbi_close_mod{
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;

    padding: 7px 14px;
    margin: 5px auto 0 auto;
    background: #333;
    color: #eee;
    border: none;
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    line-height: 1.5;

    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#sb_instagram #sbi_load .sbi_load_btn{
    position: relative;
}
#sb_instagram #sbi_load .fa-spinner{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -8px 0 0 -7px;
    font-size: 15px;
}

/* Follow button */
#sb_instagram .sbi_follow_btn{
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    text-align: center;
}
#sb_instagram .sbi_follow_btn.sbi_top{
    display: block;
    margin-bottom: 5px;
}
#sb_instagram .sbi_follow_btn a{
    background: #517fa4;
    color: #fff;
}
#sb_instagram .sbi_follow_btn a:hover,
#sb_instagram .sbi_follow_btn a:focus,
#sb_instagram #sbi_load .sbi_load_btn:hover{
    filter: alpha(opacity=85);
    opacity: 0.85;
    outline: none;
}
#sb_instagram .sbi_follow_btn .fa{
    margin-bottom: -1px;
    margin-right: 7px;
    font-size: 15px;
}
#sb_instagram #sbi_load .sbi_follow_btn{
    margin-left: 5px;
}


/* Don't show the carousel images initially, fade them in using JS */
#sb_instagram #sbi_images.sbi_carousel .sbi_item{
    display: none;
}

/*
 *  Core Owl Carousel CSS File
 *  v1.3.3
 */

/* clearfix */
.sbi_owl-carousel .sbi_owl-wrapper:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
/* display none until init */
.sbi_owl-carousel{
    display: none;
    position: relative;
    width: 100%;
    -ms-touch-action: pan-y;
}
.sbi_owl-carousel .sbi_owl-wrapper{
    display: none;
    position: relative;
    -webkit-transform: translate3d(0px, 0px, 0px);
}
.sbi_owl-carousel .sbi_owl-wrapper-outer{
    overflow: hidden;
    position: relative;
    width: 100%;
}
.sbi_owl-carousel .sbi_owl-wrapper-outer.autoHeight{
    -webkit-transition: height 500ms ease-in-out;
    -moz-transition: height 500ms ease-in-out;
    -ms-transition: height 500ms ease-in-out;
    -o-transition: height 500ms ease-in-out;
    transition: height 500ms ease-in-out;
}
.sbi_owl-carousel .sbi_owl-item{
    float: left;
}
.sbi_owl-controls .sbi_owl-page,
.sbi_owl-controls .sbi_owl-buttons div{
    cursor: pointer;
}
.sbi_owl-controls {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* fix */
.sbi_owl-carousel  .sbi_owl-wrapper,
.sbi_owl-carousel  .sbi_owl-item{
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility:    hidden;
    -ms-backface-visibility:     hidden;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
}

/*
* sbi_owl Carousel sbi_owl Demo Theme
* v1.3.3
*/
.sbi_owl-theme .sbi_owl-controls{
    margin-top: 10px;
    text-align: center;
}
/* Styling Next and Prev buttons */
.sbi_owl-theme .sbi_owl-controls .sbi_owl-buttons div{
    color: #000;
    display: inline-block;
    zoom: 1;
    *display: inline;/*IE7 life-saver */
    margin: -16px 5px 0 5px;
    padding: 3px 10px;
    font-size: 15px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background: #fff;
    filter: Alpha(Opacity=50);/*IE7 fix*/
    opacity: 0.5;

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 10;
}
.sbi_owl-theme .sbi_owl-controls .sbi_owl-buttons .sbi_owl-next{
    left: auto;
    right: 0px;
}
.sbi_owl-theme .sbi_owl-controls .sbi_owl-buttons .sbi_owl-next{
    left: auto;
    right: 0px;
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.sbi_owl-theme .sbi_owl-controls.clickable .sbi_owl-buttons div:hover{
    filter: Alpha(Opacity=100);/*IE7 fix*/
    opacity: 1;
    text-decoration: none;
}
/* Styling Pagination*/
.sbi_owl-theme .sbi_owl-controls .sbi_owl-page{
    display: inline-block;
    zoom: 1;
    *display: inline;/*IE7 life-saver */
}
.sbi_owl-theme .sbi_owl-controls .sbi_owl-page span{
    display: block;
    width: 12px;
    height: 12px;
    margin: 5px 7px;
    filter: Alpha(Opacity=25);/*IE7 fix*/
    opacity: 0.25;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #333;
}
.sbi_owl-theme .sbi_owl-controls .sbi_owl-page.active span,
.sbi_owl-theme .sbi_owl-controls.clickable .sbi_owl-page:hover span{
    filter: Alpha(Opacity=100);/*IE7 fix*/
    opacity: 1;
}
/* If PaginationNumbers is true */
.sbi_owl-theme .sbi_owl-controls .sbi_owl-page span.sbi_owl-numbers{
    height: auto;
    width: auto;
    color: #FFF;
    padding: 2px 10px;
    font-size: 12px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

#sb_instagram.sbi_moderation_mode{
    position: relative;
    z-index: 999999;
    background: #f9f9f9;
}
#sb_instagram.sbi_moderation_mode p,
#sb_instagram.sbi_moderation_mode label,
#sb_instagram.sbi_moderation_mode a{
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
.sbi_moderation_mode .sb_instagram_header {
    padding: 15px 15px 0 15px !important;
    margin: 0;
}
.sbi_moderation_mode .sbi_mod_submit_mod {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    padding: 7px 14px;
    margin: 10px auto 0 auto;
    background: #333;
    border: none;
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    line-height: 1.5;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.sbi_moderation_mode .sbi_mod_submit_mod:hover {
    color: #fff;
    opacity: .8;
}
.sbi_moderation_mode .sbi_mod_mode_wrapper {
    float: left;
    clear: both;
    width: 100%;
    position: relative;
    padding: 50px 2%;

    font-size: 14px;
    line-height: 1.4;
    color: #222;

    background: #eee;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.sbi_moderation_mode .sbi_mod_mode_wrapper .sbi_mod_row{
    width: 100%;
    padding-bottom: 5px;
}
.sbi_moderation_mode .sbi_mod_mode_wrapper input{
    cursor: pointer;
    vertical-align: baseline;
}
.sbi_moderation_mode .sbi_mod_mode_wrapper label{
    position: relative;
    top: -2px;
    cursor: pointer;
}
#sb_instagram.sbi_moderation_mode .sbi_follow_btn {
    display: none;
}
/* Save button at bottom */
.sbi_mod_mode_wrapper_bottom{
    clear: both;
    margin-top: 20px;
}
.sbi_moderation_mode .sbi_mod_mode_wrapper_bottom .sbi_mod_submit_mod{
    margin: 0;
}

.sbi_moderation_mode .sbi_mod_new_white_list {
    background: #fff;
    border-radius: 4px;
    padding: 20px 2%;
    margin-top: 10px;
    width: 95%;
    border-left: 5px solid #4e9c2b;

    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
.sbi_mod_new_white_list span{
    font-weight: bold;
    margin-right: 5px;
}
.sbi_moderation_mode .sbi_mod_new_white_list code{
    font-size: 18px;
    display: inline-block;
    padding: 10px 0 0 0;
    margin-left: -2px;
}

#sb_instagram.sbi_moderation_mode .sbi_close_mod {
    position: absolute;
    right: 20px;
    top: 20px;
}
#sb_instagram.sbi_moderation_mode .sbi_close_mod:hover,
#sb_instagram.sbi_moderation_mode .sbi_close_mod:focus{
    background: #d83e2e;
}
#sb_instagram .sbi_moderation_link{
    float: right;
    background: #e6684f;
}
#sb_instagram .sbi_moderation_link .fa,
.sbi_moderation_mode .sbi_close_mod .fa,
.sbi_mod_submit_mod .fa{
    margin-right: 6px;
}
#sb_instagram .sbi_moderation_link:hover,
#sb_instagram .sbi_moderation_link:focus{
    background: #e5593d;
}
.sbi_moderation_mode .sbi_mod {
    padding: 10px;
    text-align: center;
}
.sbi_mod_post_status {
    position:absolute;
    top: 0;
    right: 0;
    padding: 12px 13px 14px 16px;
    color: #fff;

    -moz-border-radius-bottom-left: 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.sbi_mod_post_status .fa{
    font-size: 28px;
    font-weight: 700;
}
.sbi_mod_exclude{
    background: #e5593d;
}
.sbi_mod_include{
    background: #4e9c2b;
}
.sbi_mod_user{
    display: block;
    padding: 0 0 5px 0;
}
.sbi_mod input,
.sbi_mod label{
    cursor: pointer;
}
.sbi_mod_block{
    padding: 3px;
}
.sbi_mod_block:hover,
.sbi_mod_block:focus{
    background: rgba(0,0,0,0.05);
    color: #bf2c0f;
    border-radius: 4px;
}
.sbi_mod_block label{
    width: 100%;
    display: block;
}
.sbi_mod_block_user{
    position: relative;
    top: 1px;
}
.sbi_mod_submit_mod:hover,
.sbi_mod_submit_mod:focus{
    background: #488a2b;
}
.sbi_mod_type_header{
    padding: 0 0 10px 0;
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}
.sbi_mod_saved{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 999999;
    background: rgba(255,255,255,0.9);
    padding: 18px 22px;
    margin: -32px 0 0 -60px;
    border-radius: 4px;
    color: #488a2b;

    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.sbi_mod_saved .fa{
    margin-right: 3px
}
.sbi-screenreader{text-indent: -9999px !important;display: block !important;width: 0 !important;height: 0 !important;line-height: 0 !important;}

/* Use CSS for lightbox fade instead of JS */
#sb_instagram .sbi_link {
    opacity: 0;
    display: block;
    transition: opacity .6s ease-in-out;
    -moz-transition: opacity .6s ease-in-out;
    -webkit-transition: opacity .6s ease-in-out;
}
#sb_instagram .sbi_photo_wrap:hover .sbi_link {
    opacity: 1;
    display: block;
    transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -webkit-transition: opacity .2s ease-in-out;
}
#sb_instagram.sbi_moderation_mode .sbi_photo_wrap .sbi_link{
    display: none !important;
}

/* Hover effect slight zoom */
#sb_instagram .sbi_item:not(.sbi_transition) .sbi_photo{
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
#sb_instagram .sbi_photo_wrap:hover .sbi_photo {
    -webkit-transform:scale(1.05); /* Safari and Chrome */
    -moz-transform:scale(1.05); /* Firefox */
    -ms-transform:scale(1.05); /* IE 9 */
    -o-transform:scale(1.05); /* Opera */
    transform:scale(1.05);
}

.sbi_no_avatar_img.sbi_header_img{
    background: #333;
    color: #fff;
    width: 50px;
    height: 50px;
    position: relative;
}
#sb_instagram .sbi_no_avatar_img .sbi_header_hashtag_icon {
    display: block;
    color: #fff;
    opacity: .9;
    -webkit-transition: background .6s linear,color .6s linear;
    -moz-transition: background .6s linear,color .6s linear;
    -ms-transition: background .6s linear,color .6s linear;
    -o-transition: background .6s linear,color .6s linear;
    transition: background .6s linear,color .6s linear
}

.sbi_no_avatar:hover .sbi_header_hashtag_icon {
    display: block;
    opacity: 1;
    -webkit-transition: background .2s linear,color .2s linear;
    -moz-transition: background .2s linear,color .2s linear;
    -ms-transition: background .2s linear,color .2s linear;
    -o-transition: background .2s linear,color .2s linear;
    transition: background .2s linear,color .2s linear
}